<form action="{% url 'form' api_key %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>Test form submission here </h1></legend>
    

    <p>Your link to post form data is: {{ api_key }}</p>
    <p>Form data will be sent to : {{ subscription.email }}</p>
    {% if post_data %}<p><strong>{{ post_data }}</strong></p>{% endif %}
        <label for="email">Your Email</label>
		<input name="Email" id="email" type="email">
		<label for="message">Your Message</label>
		<textarea name="Message" id="message"> </textarea>
		<button type="submit">Submit</button>
</fieldset>
</form>