<!DOCTYPE html>
<html lang = "en">
<head>
	<meta http-equiv = "content-language" content = "en">
	<meta name="msvalidate.01" content="F679B924D64A480A1A28113B9E600EE5" />
	<meta name="description" content="Send emails from website without PHP or backend, you can send form from HTML for free or use special premium options ">
	<title>Send email from static website</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?autoload=true&amp;skin=sunburst&amp;lang=css" defer=""></script>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
	   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
	   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
	   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

	   ym(81046150, "init", {
	        clickmap:true,
	        trackLinks:true,
	        accurateTrackBounce:true,
	        webvisor:true
	   });
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/81046150" style="position:absolute; left:-9999px;" alt="metrika" /></div></noscript>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z9V1PHS8PV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Z9V1PHS8PV');
</script>
	<!-- /Yandex.Metrika counter -->
</head>
<body>
	<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-3 pt-1">
        <a class="d-flex align-items-center text-dark text-decoration-none" href="#"><span class="fs-4">Email website</span></a>
      </div>
      <div class="col-3 text-center">
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
        {% if user.is_authenticated %}
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'logout' %}" >Logout        </a>
        {% else %}
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'signup' %}" style="margin-right: 5px">Sign up</a>
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'login' %}" >Sign in        </a>
        {% endif %}
      </div>
    </div>
  </header>

  <main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-8 col-md-8 mx-auto">
        <h1 class="fw-light">Simply send email from a static HTML website</h1>
        <p class="lead text-muted"> No PHP or special backend required. Sign in, get a secret key and receive HTML form submissons from your website to your email. <br>Copy the following code to your website and style it appropriately.</p>
        
        <pre style="text-align: left" class="prettyprint" id="quine">
{% if api_key%}
&ltform action="https://email-website.com/form/{{ api_key}}" method="post"&gt
  &ltlabel for="email"&gtYour Email&lt/label&gt
  &ltinput name="Email" id="email" type="email"&gt
  &ltlabel for="message"&gtYour Message&lt/label&gt
  &lttextarea name="Message" id="message"&gt &lt/textarea&gt
  &ltbutton type="submit"&gtSubmit&lt/button&gt
&lt/form>
{% else %}
&ltform action="https://email-website.com/form/YOUR_API_KEY" method="post"&gt
  &ltlabel for="email"&gtYour Email&lt/label&gt
  &ltinput name="Email" id="email" type="email"&gt
  &ltlabel for="message"&gtYour Message&lt/label&gt
  &lttextarea name="Message" id="message"&gt &lt/textarea&gt
  &ltbutton type="submit"&gtSubmit&lt/button&gt
&lt/form>
{% endif %}
        </pre>

        <p>
          {% if user.is_authenticated %}
            <p><code class="small"> Your API key is: {{ api_key }} </code> </p>
              <p><code class="small"> Emails will be sent to: {{ user.username }} </code> </p>
          {% else %}
            <a href="{% url 'signup' %}" class="btn btn-primary my-2">Get API key</a>
          {% endif %}
        </p>
      </div>
    </div>
  </section>

</main>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">&copy; 2017 - 2021</small>
      </div>
    </div>
  </footer>
</div>

</body>
</html>